[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Comic Books (cb7)
Name[ar]=الكتب الكاريكاتوريّة (cb7)
Name[ast]=Comics (cb7)
Name[bg]=Комикси (cb7)
Name[bn]=কমিক্‌স বই (cb7)
Name[bs]=Stripovi (cb7)
Name[ca]=Llibres de còmics (cb7)
Name[ca@valencia]=Llibres de còmics (cb7)
Name[cs]=Komiksy (cb7)
Name[csb]=Kòmiksë (cb7)
Name[da]=Tegneserier (cb7)
Name[de]=Comic-Buch (cb7)
Name[el]=Βιβλία κόμικ (cb7)
Name[en_GB]=Comic Books (cb7)
Name[eo]=Komiksoj (cb7)
Name[es]=Libros de cómic (cb7)
Name[et]=Koomiksid (cb7)
Name[eu]=Komiki liburuak (cb7)
Name[fa]= کتابهای خنده‌دار (cb7)
Name[fi]=Sarjakuvakirjat (cb7)
Name[fr]=Bandes dessinées (cb7)
Name[fy]=Stripboeken (cb7)
Name[ga]=Greannán (cb7)
Name[gl]=Libros de cómic (cb7)
Name[gu]=કોમિક ચોપડીઓ (cb7)
Name[he]=חוברות קומיקס (cb7)
Name[hi]=कॉमिक पुस्तक (cb7)
Name[hr]=Stripovi (cb7)
Name[hu]=Képregények (cb7)
Name[ia]=Libros de Comic (cb7)
Name[id]=Buku Komik (cb7)
Name[is]=Myndasögur (cb7)
Name[it]=Fumetti (cb7)
Name[ja]=コミックブックス (cb7)
Name[kk]=Комикстер (cb7)
Name[km]=សៀវភៅ​កំ​ប្លែង (cb7)
Name[kn]=ಕಾಮಿಕ್ ಪುಸ್ತಕಗಳು (cb7)
Name[ko]=만화책 (cb7)
Name[lt]=Komiksai (cb7)
Name[lv]=Komiksu grāmatas (cb7)
Name[mai]=कॉमिक पुस्तक (cb7)
Name[mk]=Стрипови (cb7)
Name[ml]=കോമിക് പുസ്തകങ്ങള്‍ (cb7)
Name[mr]=कोमिक पुस्तके (cb7)
Name[nb]=Tegneserier (cb7)
Name[nds]=Comic-Böker (cb7)
Name[nl]=Stripboeken (cb7)
Name[nn]=Teikneseriar (cb7)
Name[pa]=ਹਾਸਰਸ ਕਿਤਾਬਾਂ (cb7)
Name[pl]=Komiksy (cb7)
Name[pt]=Livros de Banda Desenhada (cb7)
Name[pt_BR]=Comic Books (cb7)
Name[ro]=Cărți cu benzi desenate (cb7)
Name[ru]=Комиксы (cb7)
Name[si]=විහිළු පොත් (cb7)
Name[sk]=Knihy komiksov (cb7)
Name[sl]=Stripi (cb7)
Name[sr]=Стрипови (cb7)
Name[sr@ijekavian]=Стрипови (cb7)
Name[sr@ijekavianlatin]=Stripovi (cb7)
Name[sr@latin]=Stripovi (cb7)
Name[sv]=Serietidningar (cb7)
Name[tg]=Китобҳои хандаовар (cb7)
Name[th]=หนังสือการ์ตูนต่าง ๆ (cb7)
Name[tr]=Çizgi Romanlar (cb7)
Name[uk]=Комікси (cb7)
Name[vi]=Truyện tranh (cb7)
Name[wa]=Binde d' imådjes (cb7)
Name[x-test]=xxComic Books cb7xx
Name[zh_CN]=漫画书 (cb7)
Name[zh_TW]=漫畫書 (cb7)
ServiceTypes=ThumbCreator
MimeType=application/x-cb7;
X-KDE-Library=cb7thumbnails
CacheThumbnail=true
